In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

import matplotlib.pyplot as pl

from sklearn import preprocessing

In [24]:
df = pd.read_excel('kickstarter.xlsx')
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.0

In [25]:
df.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged '],
      dtype='object')

In [23]:
# A quicker way to fix spaces in column names
df.rename(str.strip, axis='columns', inplace=True)
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged'],
      dtype='object')

In [29]:
# Fix spaces in column names

def clean_dataframe_columns(df):
    # Create a temporary list to store cleaned column names
    temp_columns = []

    # Loop through current column names
    for col_name in df.columns:
        # For each column name, replace spaces with empty strings
        temp_column_name = col_name.strip().lower()
        temp_column_name = temp_column_name.replace(' ', '_')

        # Save cleaned column name into the temp list
        temp_columns.append(temp_column_name)

    print(temp_columns)

    # Overwriting current column names with cleaned ones
    return temp_columns

In [30]:
df.columns = clean_dataframe_columns(df)
df.columns

['id', 'name', 'category', 'main_category', 'currency', 'deadline', 'goal', 'launched', 'pledged', 'state', 'backers', 'country', 'usd_pledged']

Index(['id', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd_pledged'],
      dtype='object')

In [ ]:
# We'll make the ID column the index
df.set_index('id', inplace=True)

In [34]:
# Decide which columns make sense as variables in your model
df = df[['main_category', 'goal', 'state','backers','usd_pledged']]
df.head()

           main_category     goal       state  backers  usd_pledged
id
1000002330    Publishing   1000.0      failed        0          0.0
1000004038  Film & Video  45000.0      failed        3        220.0
1000007540         Music   5000.0      failed        1          1.0
1000011046  Film & Video  19500.0    canceled       14       1283.0
1000014025          Food  50000.0  successful      224      52375.0

In [35]:
# Check datatypes
df.dtypes

main_category     object
goal             float64
state             object
backers            int64
usd_pledged      float64
dtype: object

In [36]:
# Check distributions for every column
df['main_category'].value_counts()

Film & Video    191
Music           152
Art              94
Publishing       90
Games            87
Design           73
Technology       68
Food             67
Fashion          50
Photography      32
Comics           29
Theater          26
Crafts           17
Dance            14
Journalism        9
Name: main_category, dtype: int64

In [38]:
#df['main_category'].hist()

p = plt.hist(df['main_category'])
plt.xticks(rotation='vertical')

plt.show()

NameError: name 'plt' is not defined