In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('city.csv')
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

In [4]:
df.dtypes

ID              int64
Name           object
CountryCode    object
District       object
Population      int64
dtype: object